<ion-tabs>

  <ion-tab-bar slot="bottom" style="padding-top: 2px;">
    <ion-tab-button tab="homev2">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="servicev2">
      <ion-icon name="build-outline"></ion-icon>
      <ion-label>Services</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workshopv2">
      <ion-icon name="warning-outline"></ion-icon>
      <ion-label>Workshop</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settingsv2">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>