<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>
      Claims
    </ion-title>
    <ion-button *ngIf="staff && (staff.user_role == 5 || staff.user_role == 6)" (click)="addClaim()" color="success"
      slot="end" style="padding-right:5px;">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Add Claim
    </ion-button>
  </ion-toolbar>

  <ion-searchbar mode="ios" placeholder="Enter Policy No or Reg No" [(ngModel)]="searchText" debounce="100"
    (ionChange)="searchClaims($event)">
  </ion-searchbar>

  <ion-segment (ionChange)="segmentChanged($event)" mode="md" [value]="segment">
    <ion-segment-button value="mine">
      <ion-label>My Claims</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all">
      <ion-label>View All</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>

  <ion-grid *ngIf="(staff && staff.user_branch == 8)">
    <ion-row>
      <ion-col size="5">
        <h4 style="margin: 20px 15px 0 10px;">Filter by</h4>
      </ion-col>
      <ion-col size="7">
        <ion-card mode="ios" style="margin: 10px 10px 0 0;">
          <ion-select interface="action-sheet" placeholder="Select Branch" [(ngModel)]="branch"
            (ionChange)="changeBranch($event)">
            <ion-select-option *ngFor="let branch of helper.branches" [value]="branch.id">
              {{ branch.branch }}
            </ion-select-option>
          </ion-select>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-accordion-group mode="ios" style="margin-top: 15px;" [value]="groupServices[0].name"
    *ngIf="groupServices && groupServices[0] && groupServices[0].data && groupServices[0].data.length > 0">

    <ion-accordion [value]="groupService.name" *ngFor="let groupService of groupServices">
      <ion-item slot="header">
        <ion-label>{{ groupService.name }}</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item *ngFor="let service of groupService.data" (click)="viewClaim(service.id)">
          <ion-label>
            <h2>Policy No: {{ service.policy.cust_policyno }}</h2>
            <ion-badge color="light">
              {{ service.policy.cust_vehicleregno }}
            </ion-badge><br>
            <ion-badge color="light">
              {{ service.status | titlecase }}
            </ion-badge>
          </ion-label>
          <ion-note slot="end">
            {{ service.created_at | date : "d/MM/y" }}
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-accordion>

  </ion-accordion-group>

  <ion-item class="ez-item" *ngIf="isSearching">
    <ion-label>
      <h2>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </h2>
      <h2>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </h2>
    </ion-label>
    <ion-note slot="end">
    </ion-note>
  </ion-item>

  <ion-item class="ez-item" *ngIf="!services && !isSearched && !isSearching">
    <ion-label>
      <h2 style="text-overflow: initial; white-space: normal;">
        Please search by policy no or registration number to view claims.
      </h2>
    </ion-label>
  </ion-item>

  <ion-item class="ez-item" *ngIf="!services && isSearched && !isSearching">
    <ion-label>
      <h2>
        No claim record
      </h2>
    </ion-label>
  </ion-item>

  <!-- <ion-card mode="ios" style="margin-top: 15px;">

    <ion-card-content style="padding-left:10px; padding-bottom: 40px;">
      <ion-list mode="ios">
        <ion-item class="ez-item" *ngFor="let service of services" (click)="viewClaim(service.id)">
          <ion-label>
            <h2>Policy no: {{ service.policy.cust_policyno }}</h2>
            <ion-badge color="light">
              {{ service.policy.cust_vehicleregno }}
            </ion-badge><br>
            <ion-badge color="light">
              {{ service.status }}
            </ion-badge>
          </ion-label>
          <ion-note slot="end">
            {{ service.created_at | date : "d/MM/y" }}
          </ion-note>
        </ion-item>

        <ion-item class="ez-item" *ngIf="isSearching">
          <ion-label>
            <h2>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </h2>
            <h2>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </h2>
          </ion-label>
          <ion-note slot="end">
          </ion-note>
        </ion-item>

        <ion-item class="ez-item" *ngIf="!services && !isSearched && !isSearching">
          <ion-label>
            <h2 style="text-overflow: initial; white-space: normal;">
              Please search by policy ID or registration number to view claims.
            </h2>
          </ion-label>
        </ion-item>

        <ion-item class="ez-item" *ngIf="!services && isSearched && !isSearching">
          <ion-label>
            <h2>
              No claim record
            </h2>
          </ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>

  </ion-card> -->

  <!-- {{ staff? staff.user_role:'' }} -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed"
    *ngIf="staff && (staff.user_role == 5 || staff.user_role == 6)">
    <ion-fab-button color="success" (click)="addClaim()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>