<ion-tabs>

  <ion-tab-bar slot="bottom" style="padding-top: 2px;">
    <ion-tab-button tab="staff-home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="staff-logs">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Inspections</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="staffClaims">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Claims</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="policy">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Policies</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="endorsement">
      <ion-icon name="id-card-outline"></ion-icon>
      <ion-label>Request</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="endorsement">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <ion-label>Endorsement</ion-label>
    </ion-tab-button> -->

    <!-- <ion-tab-button tab="sponsorship">
      <ion-icon name="ribbon-outline"></ion-icon>
      <ion-label>Sponsorship</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>