<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Add Claim
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div mode="ios" class="ez-form">
    <ion-card-content>

      <form [formGroup]="ionicForm" novalidate>

        <ion-list style="margin-bottom: 10px;">
          <ion-list-header>
            <ion-label style="margin: 0;">Claim Form</ion-label>
          </ion-list-header>

          <ion-item fill="outline" mode="md" class="ez-material-input ">
            <ion-label position="floating">Registration No <span class="required">*</span>:</ion-label>
            <ion-input placeholder="" formControlName="reg_no"></ion-input>
          </ion-item>

          <ion-button expand="block" (click)="searchCar()" color="tertiary" *ngIf="ionicForm.value.reg_no">
            <ion-icon slot="start" name="search-outline"></ion-icon>
            <span>Search Car</span>
          </ion-button>

          <ion-button expand="block" color="tertiary" *ngIf="!ionicForm.value.reg_no" disabled>
            <ion-icon slot="start" name="search-outline"></ion-icon>
            <span>Search Car</span>
          </ion-button>

        </ion-list>

        <div class="ion-padding ion-text-center" *ngIf="isLoading">
          <ion-spinner></ion-spinner>
        </div>

        <div *ngIf="policyFound && !isLoading">

          <div *ngIf="claim" style="margin: 10px; margin-bottom: 20px;">
            <ion-text color="dark">
              <h3 style="font-size: 17px !important;">Claim Created at: {{ claim.created_at | date : "d/MM/y" }}</h3>
            </ion-text>

            <ion-text color="dark">
              <h3 style="font-size: 17px !important;">
                Status: <span style="font-style: italic; font-weight: bolder;"> {{ claim.status }}</span>
              </h3>
            </ion-text>
          </div>

          <ion-card class="ez-alert" *ngIf="!claim">
            <ion-card-content>
              <div>
                <ion-text color="dark">
                  <h3 style="font-size: 17px !important;">No active claim found<ion-icon name="alert-outline">
                    </ion-icon>
                    <br>Enter
                    details below to add new claim.
                  </h3>
                </ion-text>
              </div>

            </ion-card-content>
          </ion-card>

          <div class="ez-line"></div>

          <ion-item fill="outline" mode="md" class="ez-material-input">
            <ion-label position="default">
              Claim Type:
            </ion-label>
            <ion-select placeholder="Select One" formControlName="claim_type_id" interface="action-sheet" mode="ios"
              [disabled]="claim ? true : false" [value]="claim? claim.claim_type_id:''">
              <!-- <ion-select-option value="">
                Please select
              </ion-select-option> -->
              <ion-select-option [value]="claim_type.id" *ngFor="let claim_type of claim_types">
                {{ (claim_type? claim_type.name:'') | titlecase }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <!-- <ion-item fill="outline" mode="md" class="ez-material-input" *ngIf="claim">
            <ion-label position="default">Claim Type: </ion-label>
            <ion-input class="ion-text-end" readonly [value]="claim_type? claim_type.name:'' | titlecase">
            </ion-input>
          </ion-item> -->

          <ion-item fill="outline" mode="md" class="ez-material-input">
            <ion-label position="default">Claim Date: </ion-label>
            <!-- <ion-datetime placeholder="" formControlName="claim_date" presentation="date"> -->
            <ion-input placeholder="" formControlName="claim_date" type="date" class="ion-text-end"
              [ngModel]="claim.claim_date | date:'yyyy-MM-dd'" [readonly]="claim ? true : false" *ngIf="claim">
            </ion-input>
            <ion-input placeholder="" formControlName="claim_date" type="date" class="ion-text-end" *ngIf="!claim">
            </ion-input>
          </ion-item>

          <ion-item fill="outline" mode="md" class="ez-material-input">
            <ion-label position="default">Mileage: </ion-label>
            <ion-input placeholder="" formControlName="mileage" class="ion-text-end" [readonly]="claim ? true : false">
            </ion-input>
            <ion-note slot="end" color="dark">KM</ion-note>
          </ion-item>

          <ion-item fill="outline" mode="md" class="ez-material-input" lines="none">
            <ion-radio-group allow-empty-selection style="width: 100%;" formControlName="home_or_workshop">
              <ion-item lines="none">
                <ion-label>Home</ion-label>
                <ion-radio slot="end" value="home" [disabled]="claim ? true : false"></ion-radio>
              </ion-item>

              <ion-item lines="none">
                <ion-label>Workshop</ion-label>
                <ion-radio slot="end" value="workshop" [disabled]="claim ? true : false"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-item>

          <ion-item fill="outline" mode="md" class="ez-material-input"
            *ngIf="this.ionicForm.value.home_or_workshop == 'workshop'">
            <ion-label position="floating">Workshop Name: </ion-label>
            <ion-input placeholder="" formControlName="workshop_name" [readonly]="claim ? true : false">
            </ion-input>
          </ion-item>

          <ion-item fill="outline" mode="md" class="ez-material-input" *ngIf="!claim">
            <ion-label position="floating">
              Marketing Officer:
            </ion-label>
            <ion-select placeholder="Select One" formControlName="marketing_officer" interface="action-sheet" value=""
              mode="ios" [disabled]="claim ? true : false">
              <ion-select-option value="">
                Please select
              </ion-select-option>
              <ion-select-option [value]="staff.id" *ngFor="let staff of ezcareStaff">
                {{ staff? staff.name: '' }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item fill="outline" mode="md" class="ez-material-input" *ngIf="claim">
            <ion-label position="floating">Marketing Officer: </ion-label>
            <ion-input class="ion-text-end" readonly
              [value]="claim.marketing_officer? claim.marketing_officer.name: ''">
            </ion-input>
          </ion-item>

          <!-- <input type="file" #fileInput (change)="uploadFile($event)" hidden="true" accept="image/*" /> -->
          <ion-button class="ez-icon-btn" expand="block" shape="round" (click)="selectImageSource('report')"
            color="warning">
            <ion-icon slot="start" name="images-outline" class="ez-icon-btn-left"></ion-icon>
            <span>Add Diagnose Report</span>
          </ion-button>

          <ion-grid>
            <ion-row>
              <ng-container *ngIf="claim">
                <ion-col size="6" *ngFor="let image of claim.claim_reports">
                  <ion-img style="border:1px solid; margin: 5px;" role="button" class="image" [src]="image.image_link"
                    *ngIf="image.image_link"></ion-img>
                </ion-col>
              </ng-container>

              <ion-col size="6" *ngFor="let image of reportImages">
                <ion-img style="border:1px solid; margin: 5px;" role="button" class="image" [src]="image.base64"
                  *ngIf="image.base64"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-button class="ez-icon-btn" expand="block" shape="round" style="margin-top: 30px;"
            (click)="selectImageSource('quotation')" color="warning">
            <ion-icon slot="start" name="images-outline" class="ez-icon-btn-left"></ion-icon>
            <span>Add Workshop Quotation</span>
          </ion-button>

          <ion-grid>
            <ion-row>
              <ng-container *ngIf="claim">
                <ion-col size="6" *ngFor="let image of claim.claim_quotations">
                  <ion-img style="border:1px solid; margin: 5px;" role="button" class="image" [src]="image.image_link"
                    *ngIf="image.image_link"></ion-img>
                </ion-col>
              </ng-container>

              <ion-col size="6" *ngFor="let image of quotationImages">
                <ion-img style="border:1px solid; margin: 5px;" role="button" class="image" [src]="image.base64"
                  *ngIf="image.base64"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ion-button class="ez-icon-btn" expand="block" shape="round" style="margin-top: 30px;"
            (click)="selectImageSource('claim_letter')" color="warning">
            <ion-icon slot="start" name="images-outline" class="ez-icon-btn-left"></ion-icon>
            <span>Add Claim Letter</span>
          </ion-button>

          <ion-grid>
            <ion-row>
              <ng-container *ngIf="claim">
                <ion-col size="6" *ngFor="let image of claim.claim_letters">
                  <ion-img style="border:1px solid; margin: 5px;" role="button" class="image" [src]="image.image_link"
                    *ngIf="image.image_link"></ion-img>
                </ion-col>
              </ng-container>

              <ion-col size="6" *ngFor="let image of claimLetterImages">
                <ion-img style="border:1px solid; margin: 5px;" role="button" class="image" [src]="image.base64"
                  *ngIf="image.base64"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>

      </form>
    </ion-card-content>
  </div>

  <!-- File upload progress bar -->
  <!-- <div *ngIf="percentageVal | async as percentage">
    Progress: {{ percentage | number }}%
    <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
  </div> -->

</ion-content>

<ion-footer>
  <ion-toolbar style="padding-left: 10px; padding-right: 10px;" *ngIf="!claim && !isLoading">
    <ion-button expand="block" (click)="addClaim()" *ngIf="ionicForm.valid">
      Submit Claim
    </ion-button>
    <ion-button expand="block" *ngIf="!ionicForm.valid" disabled>
      Submit Claim
    </ion-button>
  </ion-toolbar>
</ion-footer>