<ion-header>
  <ion-toolbar mode="ios" class="ez-toolbar" color="primary">
    <img src="../../assets/Ezcarehorizontal.png" class="logo" />

    <ion-title size="large">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="light" style="margin: 14px 5px; font-size: 18px;" [routerLink]="['/notification']">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides pager="true" [options]="slideOpts" class="banners">

    <ion-slide *ngIf="!banners">
      <img src="../../assets/ezcarebanner.png" />
    </ion-slide>

    <ion-slide *ngFor="let banner of banners" (click)="externalLink(banner.link)">
      <img [src]="banner.image_url" />
    </ion-slide>
  </ion-slides>

  <ion-card-title class="chooseCar">
    Hi,
    <span class="lighter" *ngIf="staff && staff.user_fullname">{{ staff.user_fullname }}</span>
  </ion-card-title>

  <ion-card mode="ios" *ngIf="staff && staff.is_manager != 0">
    <ion-grid class="ion-padding-bottom">
      <ion-row class="ion-padding-horizontal">
        <ion-text color="dark">
          <h5>Filter report by MO:</h5>
        </ion-text>
      </ion-row>
      <ion-row>
        <ion-item lines="none" class="ez-input" style="width: 100%;">
          <ion-select placeholder="Select One" interface="action-sheet" [(ngModel)]="userReport" style="width: 100%;"
            (ionChange)="changeUser($event);">
            <ion-select-option [value]="staff.id" *ngFor="let staff of staffs">
              {{ staff.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-row>
    </ion-grid>
  </ion-card>


  <ion-grid>
    <ion-row>
      <ion-col>
        <h4 style="margin: 20px 15px 0 10px;">By Month</h4>
      </ion-col>
      <ion-col size="4">
        <ion-card mode="ios" style="margin: 10px 10px 0 0;">
          <ion-select mode="ios" style="width: 100%;" interface="action-sheet" [(ngModel)]="reportMonth2"
            (ionChange)="changeReportMonth()">
            <ion-select-option *ngFor="let month of months2" [value]="month">
              {{ month }}
            </ion-select-option>
          </ion-select>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <h5 style="margin: 10px 15px 0 15px;">Paid</h5>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card style="margin: 0 5px 0 6px;" color="primary">
          <ion-card-header>
            <ion-card-subtitle>Policy unit</ion-card-subtitle>
            <ion-card-title *ngIf="reports && reports.total_sales" style="font-size: 22px;">
              {{ reports.total_sales }}
            </ion-card-title>
            <ion-card-title *ngIf="!reports">
              -
            </ion-card-title>
            <ion-card-title *ngIf="reports && !reports.total_sales">
              0
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="margin: 0 6px 0 5px;" color="purple">
          <ion-card-header>
            <ion-card-subtitle>Sales total</ion-card-subtitle>
            <ion-card-title *ngIf="reports && reports.total_sales_rm" style="font-size: 22px;">
              RM {{ reports.total_sales_rm | number : '1.0-0' }}
            </ion-card-title>
            <ion-card-title *ngIf="!reports">
              -
            </ion-card-title>
            <ion-card-title *ngIf="reports && !reports.total_sales_rm">
              0
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <h5 style="margin: 10px 15px 0 15px;">Unpaid</h5>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card style="margin: 0 5px 0 6px;" color="amber">
          <ion-card-header>
            <ion-card-subtitle>Policy unit</ion-card-subtitle>
            <ion-card-title *ngIf="reports && reports.total_sales_unpaid" style="font-size: 22px;">
              {{ reports.total_sales_unpaid }}
            </ion-card-title>
            <ion-card-title *ngIf="!reports">
              -
            </ion-card-title>
            <ion-card-title *ngIf="reports && !reports.total_sales_unpaid">
              0
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="margin: 0 6px 0 5px;" color="lightamber">
          <ion-card-header>
            <ion-card-subtitle>Sales total</ion-card-subtitle>
            <ion-card-title *ngIf="reports && reports.total_sales_unpaid_rm" style="font-size: 22px;">
              RM {{ reports.total_sales_unpaid_rm | number : '1.0-0' }}
            </ion-card-title>
            <ion-card-title *ngIf="!reports">
              -
            </ion-card-title>
            <ion-card-title *ngIf="reports && !reports.total_sales_unpaid_rm">
              RM 0
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <h4 style="margin: 20px 15px 0 10px;">By Year</h4>
      </ion-col>
      <ion-col size="4">
        <ion-card mode="ios" style="margin: 10px 0 0 0;">
          <ion-select mode="ios" style="width: 100%;" interface="action-sheet" [(ngModel)]="reportMonth"
            (ionChange)="changeReportYear()">
            <ion-select-option *ngFor="let month of months" [value]="month">
              {{ month }}
            </ion-select-option>
          </ion-select>
        </ion-card>
      </ion-col>
      <ion-col size="4">
        <ion-card mode="ios" style="margin: 10px 10px 0 0;">
          <ion-select mode="ios" style="width: 100%;" interface="action-sheet" [(ngModel)]="reportYear"
            (ionChange)="changeReportYear()">
            <ion-select-option *ngFor="let year of years" [value]="year">
              {{ year }}
            </ion-select-option>
          </ion-select>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <h5 style="margin: 10px 15px 0 15px;">Paid</h5>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card style="margin: 0 5px 0 6px;" color="success">
          <ion-card-header>
            <ion-card-subtitle>Policy unit</ion-card-subtitle>
            <ion-card-title *ngIf="reportsYearly && reportsYearly.total_sales" style="font-size: 22px;">
              {{ reportsYearly.total_sales }}
            </ion-card-title>
            <ion-card-title *ngIf="!reportsYearly">
              -
            </ion-card-title>
            <ion-card-title *ngIf="reportsYearly && !reportsYearly.total_sales">
              0
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card style="margin: 0 6px 0 5px;" color="lightgreen">
          <ion-card-header>
            <ion-card-subtitle>Sales total</ion-card-subtitle>
            <ion-card-title *ngIf="reportsYearly && reportsYearly.total_sales_rm" style="font-size: 22px;">
              RM {{ reportsYearly.total_sales_rm | number : '1.0-0' }}
            </ion-card-title>
            <ion-card-title *ngIf="!reportsYearly">
              -
            </ion-card-title>
            <ion-card-title *ngIf="reportsYearly && !reportsYearly.total_sales_rm">
              RM 0
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card style="margin: 0px 6px 0 5px;" color="danger" (click)="goPolicyPage(userReport, 'expired')">
          <ion-card-header>
            <ion-card-subtitle>Policy Expired</ion-card-subtitle>
            <ion-card-title *ngIf="reports && reports.total_sales_expired" style="font-size: 22px;">
              {{ reports.total_sales_expired | number : '1.0-0' }}
            </ion-card-title>
            <ion-card-title *ngIf="!reports">
              -
            </ion-card-title>
            <ion-card-title *ngIf="reports && !reports.total_sales_expired">
              0
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card style="margin: 0px 6px 0 5px;" (click)="goPolicyPage(userReport, 'complete')">
          <ion-card-header>
            <ion-card-subtitle>Customers Policy</ion-card-subtitle>
            <ion-card-title style="font-size: 22px;">
              View All
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card style="margin: 0px 6px 0 5px;" (click)="goEndorsementPage()">
          <ion-card-header>
            <ion-card-subtitle>Endorsement</ion-card-subtitle>
            <ion-card-title style="font-size: 22px;">
              View All
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- <div style="background-color: #cccccc; height: 1px; margin: 18px;"></div> -->

  <ion-grid class="ion-no-padding">
    <ion-row>
      <!-- <ion-col size="12">
        <ion-card style="margin-bottom: 0; margin-top: 10px;" (click)="goLog()">

          <ion-row>
            <ion-col size="7">
              <ion-icon name="car-sport-outline"
                style="font-size: 40px; margin: 15px 15px 0 15px; color: black; color: #000000;">
              </ion-icon>
              <ion-card-header>
                <ion-card-title style="font-size: 22px;">Policy Expired</ion-card-title>
              </ion-card-header>
            </ion-col>
            <ion-col style="padding:20px;" size="5">
              <div style="height: 100%; padding-left: 20px; color: #000000;">
                <ion-row>
                  <ion-col style="font-size: 50px;">
                    50
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col> -->
      <ion-col size="12">
        <ion-card style="margin-bottom: 0; margin-top: 10px;" (click)="goLog()">

          <ion-row>
            <ion-col>
              <ion-icon name="clipboard-outline"
                style="font-size: 40px; margin: 15px 15px 0 15px; color: black; color: #000000;">
              </ion-icon>
              <ion-card-header>
                <ion-card-title style="font-size: 22px;">Inspection</ion-card-title>
              </ion-card-header>
            </ion-col>
            <ion-col style="padding:20px;">
              <div style="height: 100%; padding-left: 20px; border-left: 1px solid #000000; color: #000000;">
                <ion-row>
                  <ion-col size="8">
                    Pending:
                  </ion-col>
                  <ion-col size="4">
                    <ion-badge color="primary">
                      {{ inspectionReports.pending? inspectionReports.pending:'-' }}
                    </ion-badge>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="8">
                    Approved:
                  </ion-col>
                  <ion-col size="4">
                    <ion-badge color="success">
                      {{ inspectionReports.approved? inspectionReports.approved:'-' }}
                    </ion-badge>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="8">
                    Rejected:
                  </ion-col>
                  <ion-col size="4">
                    <ion-badge color="danger">
                      {{ inspectionReports.rejected? inspectionReports.rejected:'-' }}
                    </ion-badge>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="8">

                  </ion-col>
                  <ion-col size="4">
                    <ion-badge color="danger">
                      -
                    </ion-badge>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="8">
                    -
                  </ion-col>
                  <ion-col size="4">
                    <ion-badge color="danger">
                    </ion-badge>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>

        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card style="margin-top: 20px;" (click)="goClaim()">

          <ion-row>
            <ion-col>
              <ion-icon name="receipt-outline" style="font-size: 40px; margin: 15px 15px 0 15px; color: black;">
              </ion-icon>
              <ion-card-header>
                <ion-card-title style="font-size: 22px;">Claims</ion-card-title>
              </ion-card-header>
            </ion-col>

            <ion-col style="padding:20px;">
              <div style="height: 100%; padding-left: 20px; border-left: 1px solid #000000; color: #000000;">
                <ion-row>
                  <ion-col size="8">
                    Pending:
                  </ion-col>
                  <ion-col size="4">
                    <ion-badge color="warning">
                      {{ this.reports? this.reports.claim_pending:'-' }}
                    </ion-badge>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="8">
                    Approved:
                  </ion-col>
                  <ion-col size="4">
                    <ion-badge color="success">
                      {{ this.reports? this.reports.claim_approved:'-' }}
                    </ion-badge>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="8">
                    Paid:
                  </ion-col>
                  <ion-col size="4">
                    <ion-badge color="primary">
                      {{ this.reports? this.reports.claim_paid:'-' }}
                    </ion-badge>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="8">
                    Rejected:
                  </ion-col>
                  <ion-col size="4">
                    <ion-badge color="danger">
                      {{ this.reports? this.reports.claim_rejected:'-' }}
                    </ion-badge>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="8">
                    Void:
                  </ion-col>
                  <ion-col size="4">
                    <ion-badge color="dark">
                      {{ this.reports? this.reports.claim_void:'-' }}
                    </ion-badge>
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-card style="margin-bottom: 0px; margin-top: 0px;">
    <ion-card-header>
      Sales Report
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <canvas #barCanvas style="position: relative;"></canvas>
          </ion-col>
          <ion-col size="12">
            <canvas #barCanvas2 style="position: relative;"></canvas>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="user">
    <ion-fab-button color="danger">
      <ion-icon color="light" name="call-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="success" (click)="whatsapp()">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-label>Whatsapp x</ion-label>
      <ion-fab-button color="success" (click)="call()">
        <ion-icon name="call-outline"></ion-icon>
      </ion-fab-button>
      <ion-label>Call</ion-label>
    </ion-fab-list>
  </ion-fab> -->

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="user" class="ez-fab" style="left: 40%;">
    <ion-fab-button color="danger" (click)="call()">
      <ion-icon name="call-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" *ngIf="user" class="ez-fab">
    <ion-fab-button color="success" style="margin-left: 35px;" (click)="whatsapp()">
      <ion-icon name="logo-whatsapp"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>