<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title slot="end">Standard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col class="logo-wrapper" style="margin-top: 15px;">
        <img src="../../assets/Ezcarehorizontal.png" class="logo" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-title style="color: #ffffff; text-align: center; font-size: 14px;">
          Version 1.6.1
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-card color="warning" *ngIf="segment == 'customer'">
    <ion-card-header>
      <ion-card-title>Attention <ion-icon name="alert-circle-outline" size="large"></ion-icon></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Sign in using policy number and registration nuber has been removed.
      <br /><br />
      All customer need to register using email address starting now.<br />
      Please click register for user that does not have account.
    </ion-card-content>
  </ion-card>

  <ion-card color="success" *ngIf="registerSuccess">
    <ion-card-content>
      Registered Successfully.
      <br /><br />
      Please try to login using your email and password.
    </ion-card-content>
  </ion-card> -->

  <!-- <ion-card mode="ios" *ngIf="segment == 'customer'">

    <ion-card-header>
      <ion-card-title>Customer Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form class="ez-form" (ngSubmit)="customer_login_email()" [formGroup]="customerForm">
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" required formControlName="email"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.email">
            <div class="error-message"
              *ngIf="customerForm.get('email').hasError(error.type) && (customerForm.get('email').dirty || customerForm.get('email').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required formControlName="password"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block" shape="round" class="btn-login"
              *ngIf="customerForm.valid">Login</ion-button>
            <ion-button type="submit" color="primary" expand="block" shape="round" class="btn-login"
              *ngIf="!customerForm.valid">Login</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button fill="outline" expand="block" shape="round" type="button"
              (click)="register()">Register</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button fill="clear" expand="block" shape="round" type="button" (click)="register()">Forgot
              Password</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button fill="clear" expand="block" shape="round" type="button" (click)="register()">
              Forgot Password
            </ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>

  </ion-card> -->

  <ion-card mode="ios" *ngIf="segment === 'customer'">

    <ion-card-header>
      <ion-card-subtitle style="display:flex; gap: 15px; align-items: flex-end;">
        <img style="height: 40px;" src="../../assets/country/malaysia_icon.png" />
        <div style="margin-bottom: 5px; color: black;">Malaysia</div>
      </ion-card-subtitle>
      <ion-card-title>Customer Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form class="ez-form" (ngSubmit)="customer_login()" [formGroup]="customerForm">
        <ion-item lines="full">
          <ion-label position="floating">Registration no</ion-label>
          <ion-input type="text" required formControlName="registration_number"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Policy no</ion-label>
          <ion-input type="text" required formControlName="policy_number"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block" shape="round" class="btn-login"
              *ngIf="customerForm.valid">Login</ion-button>
            <ion-button type="submit" color="primary" expand="block" shape="round" class="btn-login" disabled
              *ngIf="!customerForm.valid">Login</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center; padding: 40px;">
        <ion-button color="white" expand="block" shape="round" class="btn-login" size="large"
          (click)="goToIndonesiaPage()">
          Login to Indonesia
          <img style="height: 90%;" slot="start" src="../../assets/country/indonesia_icon.png" class="logo" />
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-card mode="ios" *ngIf="segment == 'register'">

    <ion-card-header>
      <ion-card-title>Customer Register</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form class="ez-form" (ngSubmit)="customer_register()" [formGroup]="customerRegisterForm">
        <ion-item>
          <ion-label position="floating">Registration no</ion-label>
          <ion-input type="text" required formControlName="registration_number"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.registration_number">
            <div class="error-message"
              *ngIf="customerRegisterForm.get('registration_number').hasError(error.type) && (customerRegisterForm.get('registration_number').dirty || customerRegisterForm.get('registration_number').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Policy no</ion-label>
          <ion-input type="text" required formControlName="policy_number"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.policy_number">
            <div class="error-message"
              *ngIf="customerRegisterForm.get('policy_number').hasError(error.type) && (customerRegisterForm.get('policy_number').dirty || customerRegisterForm.get('policy_number').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required formControlName="email"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.email">
            <div class="error-message"
              *ngIf="customerRegisterForm.get('email').hasError(error.type) && (customerRegisterForm.get('email').dirty || customerRegisterForm.get('email').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Confirm Email</ion-label>
          <ion-input type="email" required formControlName="confirm_email"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.confirm_email">
            <div class="error-message"
              *ngIf="customerRegisterForm.get('confirm_email').hasError(error.type) && (customerRegisterForm.get('confirm_email').dirty || customerRegisterForm.get('confirm_email').touched)">
              {{ error.message }}
            </div>
          </ng-container>
          <div class="error-message"
            *ngIf="!customerRegisterForm.get('confirm_email').errors && customerRegisterForm.hasError('emailNotMatch') && (customerRegisterForm.get('confirm_email').dirty || customerRegisterForm.get('confirm_email').touched)">
            Email and Confirm Email fields should match
          </div>
        </div>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required formControlName="password"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.password">
            <div class="error-message"
              *ngIf="customerRegisterForm.get('password').hasError(error.type) && (customerRegisterForm.get('password').dirty || customerRegisterForm.get('password').touched)">
              {{ error.message }}
            </div>
          </ng-container>
        </div>

        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" required formControlName="confirm_password"></ion-input>
        </ion-item>
        <div class="error-messages">
          <ng-container *ngFor="let error of error_messages.confirm_password">
            <div class="error-message"
              *ngIf="customerRegisterForm.get('confirm_password').hasError(error.type) && (customerRegisterForm.get('confirm_password').dirty || customerRegisterForm.get('confirm_password').touched)">
              {{ error.message }}
            </div>
          </ng-container>
          <div class="error-message"
            *ngIf="!customerRegisterForm.get('confirm_password').errors && customerRegisterForm.hasError('passwordNotMatch') && (customerRegisterForm.get('confirm_password').dirty || customerRegisterForm.get('confirm_password').touched)">
            Password and Confirm Password fields should match
          </div>
        </div>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block" shape="round" class="btn-login"
              *ngIf="customerRegisterForm.valid">Register</ion-button>
            <ion-button type="submit" color="primary" expand="block" shape="round" class="btn-login" disabled
              *ngIf="!customerRegisterForm.valid">Register</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button fill="outline" expand="block" shape="round" type="button" (click)="customerSegment()">Back to
              Login</ion-button>
          </ion-col>
        </ion-row>
      </form>
    </ion-card-content>

  </ion-card> -->

  <ion-card mode="ios" *ngIf="segment == 'staff'">

    <ion-card-header>
      <ion-card-title>Staff Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form class="ez-form" (ngSubmit)="staff_login()" [formGroup]="staffForm">
        <ion-item lines="full">
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" required formControlName="username"></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required formControlName="password"></ion-input>
        </ion-item>

        <ion-row>
          <ion-col>
            <ion-button type="submit" color="primary" expand="block" class="btn-login">Login</ion-button>
          </ion-col>
        </ion-row>
      </form>

    </ion-card-content>

  </ion-card>

  <ion-card mode="ios" *ngIf="segment == 'workshop'">

    <ion-card-header>
      <ion-card-title>Workshop Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>

        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button type="submit" color="primary" expand="block" class="btn-login">Login</ion-button>
            <a [routerLink]="['/forgot-password']" class="small-text">Forgot Password?</a>
            <ion-button type="submit" color="warning" expand="block" class="btn-signup">Sign up</ion-button>
          </ion-col>
        </ion-row>
      </form>

    </ion-card-content>

  </ion-card>

  <ion-card *ngIf="error" mode="ios" color="danger">
    <ion-card-content>
      {{ error }}
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer class="ion-no-border" color="primary">
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="{{ segment }}" mode="md" color="light">
      <ion-segment-button value="customer">
        <ion-label>Customer</ion-label>
      </ion-segment-button>
      <ion-segment-button value="staff">
        <ion-label>Staff</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="workshop">
        <ion-label>Workshop</ion-label>
      </ion-segment-button> -->
    </ion-segment>
  </ion-toolbar>
</ion-footer>