<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!inspection_id">
      Add New Endorsement
    </ion-title>
    <ion-title *ngIf="inspection_id">
      View Endorsement
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="(staff.user_role == 1 || staff.user_role == 6)" (click)="deleteInspection()">
        Delete
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-backdrop class="ez-backdrop" *ngIf="loading"></ion-backdrop>

<ion-content>

  <ion-img [src]="resizedBase64" *ngIf="resizedBase64"></ion-img>

  <div mode="ios" class="ez-form">
    <ion-card-content>

      <form [formGroup]="ionicForm" novalidate>

        <ion-list style="margin-bottom: 10px;">

          <ion-list-header style="margin-bottom: 20px;" *ngIf="!inspection_id">
            <ion-label style="margin: 0;">Endorsement Form</ion-label>
          </ion-list-header>

          <ion-grid *ngIf="!inspection_id">
            <ion-row>
              <ion-col size="6" style="height: 140px;" *ngFor="let image of inspectImages; index as i;">
                <ion-img
                  style="height: 100%; object-fit: cover; border-radius: 8px; overflow: hidden; border: 2px solid;"
                  role="button" class="image" [src]="image.url" *ngIf="image.url"
                  (click)="helper.imagePreview(image.url)">
                </ion-img>
                <ion-chip class="chip-close" (click)="removeImage(i)">
                  <ion-icon name="close"></ion-icon>
                </ion-chip>
              </ion-col>
              <ion-col size="6" style="height: 140px;">
                <ion-card style="margin: 0; border: 2px solid; height: 100%;" (click)="selectImageSource()">
                  <ion-icon name="image-outline" style="font-size: 40px; margin: 15px 15px 0 15px; color: black;">
                  </ion-icon>
                  <ion-card-header>
                    <ion-card-title style="font-size: 18px;">Add Image</ion-card-title>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ng-container *ngIf="!inspection_id">
            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Vehicle Model*
              </ion-label>
              <ion-input placeholder="" formControlName="vehicle_model"></ion-input>
            </ion-item>

            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Plate No*
              </ion-label>
              <ion-input placeholder="" formControlName="reg_no"></ion-input>
            </ion-item>

            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Dealer*
              </ion-label>
              <!-- <ion-input placeholder="" formControlName="dealer"></ion-input> -->
              <ionic-selectable [items]="dealers" itemValueField="id" itemTextField="name" [canSearch]="true"
                [hasVirtualScroll]="true" formControlName="dealer">
                <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
                  {{ port.name }}
                </ng-template>
              </ionic-selectable>
            </ion-item>

            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Warranty Plan
              </ion-label>
              <!-- <ion-textarea placeholder="" formControlName="warranty_plan" rows="2"></ion-textarea> -->
              <ion-select placeholder="Select One" formControlName="warranty_plan" interface="action-sheet" value="">
                <ion-select-option value="">
                  Please select
                </ion-select-option>
                <ion-select-option [value]="warrantyPlan.name" *ngFor="let warrantyPlan of warrantyPlans">
                  {{ warrantyPlan.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item fill="outline" mode="md" class="ez-material-input" style="padding: 5px 10px;">
              <ion-label position="default">Activated Date: </ion-label>
              <ion-input placeholder="" formControlName="activated_date" type="date" class="ion-text-end">
              </ion-input>
            </ion-item>

            <ion-item fill="outline" mode="md" class="ez-material-input" style="padding: 0 10px; margin-bottom: 0;">
              <ion-label position="default">Expired Date: </ion-label>
              <ion-input placeholder="" formControlName="expired_date" type="date" class="ion-text-end">
              </ion-input>
            </ion-item>

            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Reasons
              </ion-label>
              <ion-textarea placeholder="" formControlName="reasons" rows="4"></ion-textarea>
            </ion-item>

            <!-- <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Marketing Officer
              </ion-label>
              <ion-select placeholder="Select One" formControlName="marketing_officer" interface="action-sheet"
                value="">
                <ion-select-option value="">
                  Please select
                </ion-select-option>
                <ion-select-option [value]="staff" *ngFor="let staff of staffs">
                  {{ staff.name }}
                </ion-select-option>
              </ion-select>
            </ion-item> -->
          </ng-container>

          <ion-grid *ngIf="inspection_id && inspection">
            <ion-row>
              <ion-col size="6" style="height: 140px;" *ngFor="let image of inspection.images; index as i;">
                <ion-img
                  style="height: 100%; object-fit: cover; border-radius: 8px; overflow: hidden; border: 2px solid;"
                  role="button" class="image" [src]="image.image_link" *ngIf="image.image_link"
                  (click)="helper.imagePreview(image.image_link)">
                </ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>

          <ng-container *ngIf="inspection_id">
            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Vehicle Model
              </ion-label>
              <ion-input placeholder="" formControlName="vehicle_model" readonly></ion-input>
            </ion-item>

            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Plate No
              </ion-label>
              <ion-input placeholder="" formControlName="reg_no" readonly></ion-input>
            </ion-item>

            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Dealer
              </ion-label>
              <ion-input placeholder="" formControlName="dealer" readonly></ion-input>
            </ion-item>

            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Warranty Plan
              </ion-label>
              <ion-textarea placeholder="" formControlName="warranty_plan" rows="2" readonly></ion-textarea>
            </ion-item>

            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Activated Date
              </ion-label>
              <ion-input placeholder="" formControlName="activated_date" readonly></ion-input>
            </ion-item>

            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Expired Date
              </ion-label>
              <ion-input placeholder="" formControlName="expired_date" readonly></ion-input>
            </ion-item>

            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Reasons
              </ion-label>
              <ion-textarea placeholder="" formControlName="reasons" rows="4" readonly></ion-textarea>
            </ion-item>

            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Created By
              </ion-label>
              <ion-input placeholder="" [value]="inspection.created_by_name" readonly *ngIf="inspection"></ion-input>
            </ion-item>

            <ion-item lines="none" class="ez-input">
              <ion-label position="floating">
                Created At
              </ion-label>
              <ion-input placeholder="" [value]="inspection.date.toDate() | date:'yyyy-MM-dd'" readonly
                *ngIf="inspection && inspection.date"></ion-input>
            </ion-item>

            <ion-item lines="none" class="ez-input" *ngIf="inspection">
              <ion-label position="floating">
                Status
              </ion-label>
              <ion-input placeholder="" [value]="inspection.status | titlecase" readonly></ion-input>
              <ion-text *ngIf="inspection && inspection.status_changed_by && inspection.status_changed_by.name"
                color="success">
                Status Updated By: {{ inspection.status_changed_by.name }} at
                <span *ngIf="inspection.status_changed_by.date">
                  {{ inspection.status_changed_by.date.toDate() | date:'yyyy-MM-dd' }}
                </span>
              </ion-text>
            </ion-item>

            <ion-item lines="none" class="ez-input" *ngIf="inspection && inspection.status_remarks">
              <ion-label position="floating">
                Status Remarks
              </ion-label>
              <ion-textarea placeholder="" [value]="inspection.status_remarks" rows="4" readonly></ion-textarea>
            </ion-item>

          </ng-container>

        </ion-list>
      </form>
    </ion-card-content>
  </div>

</ion-content>

<ion-footer class="ion-no-border">

  <div
    *ngIf="inspection && (!inspection.status || inspection.status == 'pending')  && (staff.is_endorsement_approver == 1)">
    <ion-card-content style="padding-top: 0;">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 20px 0 0 0;">
              <ion-label position="floating">Remarks</ion-label>
              <ion-textarea [(ngModel)]="remarks"></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="block" color="success" (click)="action('proceed')">
              <ion-icon slot="start" name="checkmark-outline"></ion-icon>
              Proceed
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="block" color="danger" (click)="action('rejected')">
              <ion-icon slot="start" name="close-outline"></ion-icon>
              Reject
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>

  </div>

  <ion-toolbar *ngIf="!inspection" style="padding: 5px 10px;">
    <ion-button expand="full" (click)="addInspection()" *ngIf="!loading && !inspection_id && ionicForm.valid">
      Submit Endorsement
    </ion-button>
    <ion-button expand="full" *ngIf="!loading && !inspection_id && !ionicForm.valid" disabled>
      Submit Endorsement
    </ion-button>
    <ion-button fill="clear" color="dark ion-text-capitalize" *ngIf="loading" expand="full">
      {{ loadingText }} <ion-spinner name="dots" color="dark"></ion-spinner>
    </ion-button>
  </ion-toolbar>
</ion-footer>