<ion-header>
  <ion-toolbar mode="md" color="primary">

    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <div class="ion-padding ion-text-center" *ngIf="!settings">
    <ion-spinner></ion-spinner>
  </div>

  <!-- <ion-card mode="ios"> -->
  <ion-list mode="ios" *ngIf="settings">
    <!-- <ion-item>
      <ion-label>
        Profile
      </ion-label>
      <ion-icon name="person-outline" slot="start"></ion-icon>
    </ion-item> -->

    <ion-item (click)="aboutUs()">
      <ion-label>
        About Us
      </ion-label>
      <ion-icon name="information-circle-outline" slot="start"></ion-icon>
    </ion-item>

    <ion-item (click)="contactUs()">
      <ion-label>
        Contact Us
      </ion-label>
      <ion-icon name="call-outline" slot="start"></ion-icon>
    </ion-item>

    <ion-item (click)="facebook()">
      <ion-label>
        Facebook
      </ion-label>
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
    </ion-item>

    <ion-item (click)="tiktok()">
      <ion-label>
        Tiktok
      </ion-label>
      <ion-icon name="logo-tiktok" slot="start"></ion-icon>
    </ion-item>

    <ion-item (click)="policy()">
      <ion-label>
        Privacy Policy
      </ion-label>
      <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
    </ion-item>

    <ion-item (click)="admin()" *ngIf="staff && staff.user_role == 6">
      <ion-label>
        Admin
      </ion-label>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
    </ion-item>

    <ion-item (click)="goPage('workshop')" *ngIf="staff && staff.user_role == 5">
      <ion-label>
        Workshop
      </ion-label>
      <ion-icon name="person-circle-outline" slot="start"></ion-icon>
    </ion-item>

    <ion-item (click)="logout()">
      <ion-label>
        Logout
      </ion-label>
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
    </ion-item>

  </ion-list>
  <!-- </ion-card> -->

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Ezcare - Version 1.4.0</ion-title>
  </ion-toolbar>
</ion-footer>