<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end"
      *ngIf="claim && claim.status == 'pending' && staff && (staff.user_role == 5 || staff.user_role == 6 || staff.user_role == 1)">
      <ion-button (click)="edit(claim.policy.cust_vehicleregno)">Edit</ion-button>
    </ion-buttons>
    <ion-title>
      View Claim
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="staff && (staff.user_role == 1 || staff.user_role == 6)" (click)="deleteClaim()">
        Delete
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="actionType != 'pay'">

    <ion-card mode="ios">

      <div class="flex">
        <div class="flex-left">
          <ion-card-title>
            <ion-icon name="cash-outline" class="carIcon"></ion-icon>
          </ion-card-title>
        </div>
        <div class="flex-right">
          <ion-card-title style="margin-top: 14px; font-size: 20px;">Claims</ion-card-title>
        </div>
      </div>

      <div class="listWrapper" *ngIf="claim">
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Policy No:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim">
              {{ claim.policy.cust_policyno }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Name:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim">
              {{ claim.policy.cust_name }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Vehicle Model:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim">
              {{ claim.policy.cust_vehicledesc }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Reg No:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim">
              {{ claim.policy.cust_vehicleregno }}
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-card-title style="margin: 8px; margin-top: 24px; font-size: 16px;">Claim Details:</ion-card-title>

        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Status:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim" style="font-style: italic; font-weight: bolder;">
              {{ claim.status | titlecase }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Claim Type:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim">
              {{ claim.claim_type.name | titlecase }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Claim Date:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim">
              {{ claim.claim_date | date : "d/MM/y" }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Mileage:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim">
              {{ claim.mileage }} KM
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Home/Workshop:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim">
              {{ claim.home_or_workshop | titlecase }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Workshop Name:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim &&  claim.workshop_name">
              {{ claim.workshop_name | titlecase }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Marketing Officer:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim">
              {{ claim.marketing_officer.name }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Created At:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim">
              {{ claim.created_at | date : "d/MM/y" }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Remarks:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim">
              {{ claim.remarks }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <span class="bold">Payment Details:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim">
              {{ claim.payment_details }}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6" *ngIf="claim.creator">
              <span class="bold">Created By:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim.creator">
              {{ claim.creator.user_fullname }}
            </ion-col>
          </ion-row>
          <ion-row *ngIf="claim.approver">
            <ion-col size="6">
              <span class="bold">Approver:</span>
            </ion-col>
            <ion-col size="6" *ngIf="claim.approver">
              {{ claim.approver.user_fullname }}
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </ion-card>

    <ion-card mode="ios" *ngIf="staff">

      <div class="flex">
        <div class="flex-left">
          <ion-card-title>
            <ion-icon name="document-text-outline" class="carIcon"></ion-icon>
          </ion-card-title>
        </div>
        <div class="flex-right">
          <ion-card-title style="margin-top: 14px; font-size: 20px;">Report Diagnose</ion-card-title>
        </div>
      </div>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ng-container *ngIf="claim">
              <ion-col size="6" *ngFor="let image of claim.claim_reports">
                <ion-img style=" border:1px solid; margin: 5px;" role="button" class="image" [src]="image.image_link"
                  *ngIf="image.image_link && image.remarks != 'file'" (click)="helper.imagePreview(image.image_link)">
                </ion-img>
                <div *ngIf="image.remarks == 'file'" (click)="helper.downloadPDF(image.image_link)" class="file-box">
                  {{ image.name }}
                </div>
              </ion-col>
            </ng-container>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>

    <ion-card mode="ios">

      <div class="flex">
        <div class="flex-left">
          <ion-card-title>
            <ion-icon name="document-text-outline" class="carIcon"></ion-icon>
          </ion-card-title>
        </div>
        <div class="flex-right">
          <ion-card-title style="margin-top: 14px; font-size: 20px;">Workshop Quotation</ion-card-title>
        </div>
      </div>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ng-container *ngIf="claim">
              <ion-col size="6" *ngFor="let image of claim.claim_quotations">
                <ion-img style="border:1px solid; margin: 5px;" role="button" class="image" [src]="image.image_link"
                  *ngIf="image.image_link && image.remarks != 'file'" (click)="helper.imagePreview(image.image_link)">
                </ion-img>
                <div *ngIf="image.remarks == 'file'" (click)="helper.downloadPDF(image.image_link)" class="file-box">
                  {{ image.name }}
                </div>
              </ion-col>
            </ng-container>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>

    <ion-card mode="ios" *ngIf="false">

      <div class="flex">
        <div class="flex-left">
          <ion-card-title>
            <ion-icon name="document-text-outline" class="carIcon"></ion-icon>
          </ion-card-title>
        </div>
        <div class="flex-right">
          <ion-card-title style="margin-top: 14px; font-size: 20px;">Claim Letter</ion-card-title>
        </div>
      </div>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ng-container *ngIf="claim">
              <ion-col size="6" *ngFor="let image of claim.claim_letters">
                <ion-img style="border:1px solid; margin: 5px;" role="button" class="image" [src]="image.image_link"
                  *ngIf="image.image_link && image.remarks != 'file'" (click)="helper.imagePreview(image.image_link)">
                </ion-img>
                <div *ngIf="image.remarks == 'file'" (click)="helper.downloadPDF(image.image_link)" class="file-box">
                  {{ image.name }}
                </div>
              </ion-col>
            </ng-container>
          </ion-row>
        </ion-grid>
      </ion-card-content>

    </ion-card>

    <ion-card mode="ios" *ngIf="claim && claim.claim_status">

      <div class="flex">
        <div class="flex-left">
          <ion-card-title>
            <ion-icon name="analytics-outline" class="carIcon"></ion-icon>
          </ion-card-title>
        </div>
        <div class="flex-right">
          <ion-card-title style="margin-top: 14px; font-size: 20px;">Status History</ion-card-title>
        </div>
      </div>

      <ion-list>
        <ion-item *ngFor="let status of claim.claim_status" [color]="status.color" lines="full">
          <ion-label>
            <h2 style="font-weight: bolder;">{{ status.claim_status_code | titlecase }}</h2>
            <p *ngIf="status.created_by">by {{ status.created_by.user_fullname }}</p>
            <p>at {{ status.date | date : "d/MM/y h:mma" }}</p>
            <ion-grid style="padding: 0;">
              <ion-row *ngIf="status.files">
                <ion-col size="4" *ngFor="let file of status.files">
                  <ion-img style="border:1px solid; margin: 5px;" role="button" class="image" [src]="file.image_link"
                    *ngIf="file.image_link && file.remarks != 'file'" (click)="helper.imagePreview(file.image_link)">
                  </ion-img>

                  <div *ngIf="file.remarks == 'file'" (click)="helper.downloadPDF(file.image_link)" class="file-box">
                    {{ file.name }}
                  </div>

                  <!-- <ion-img style="border:1px solid; margin: 5px;" role="button" class="image" [src]="image.image_link"
                              *ngIf="image.image_link && image.remarks != 'file'">
                            </ion-img>
                            <div *ngIf="image.remarks == 'file'" (click)="helper.imagePreview(image.image_link)" class="file-box">
                              {{ image.name }}
                            </div> -->
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        </ion-item>
      </ion-list>

    </ion-card>

  </div>

  <ion-row *ngIf="actionType && actionType == 'pay'">
    <ion-col size="12">
      <ion-item fill="outline" mode="md" class="ez-material-input">
        <ion-label position="floating">Type*</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="input_type" interface="action-sheet">
          <ion-select-option value="C">CLAIM</ion-select-option>
          <ion-select-option value="T">TOWING</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 0;">
        <ion-label position="default">Claim Date*</ion-label>
        <ion-input [(ngModel)]="input_claim_date" type="date" class="ion-text-end">
        </ion-input>
      </ion-item>
      <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 20px 0 0 0;">
        <ion-label position="floating">Mileage*</ion-label>
        <ion-input [(ngModel)]="input_mileage"></ion-input>
      </ion-item>
      <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 20px 0 0 0;">
        <ion-label position="floating">Amount*</ion-label>
        <ion-input [(ngModel)]="input_amount"></ion-input>
      </ion-item>
      <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 20px 0 0 0;">
        <ion-label position="floating">Description 1</ion-label>
        <ion-input [(ngModel)]="input_description1"></ion-input>
      </ion-item>
      <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 20px 0 0 0;">
        <ion-label position="floating">Description 2</ion-label>
        <ion-input [(ngModel)]="input_description2"></ion-input>
      </ion-item>
      <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 20px 0 0 0;">
        <ion-label position="floating">Workshop</ion-label>
        <ion-input [(ngModel)]="input_workshop"></ion-input>
      </ion-item>
    </ion-col>


  </ion-row>

  <ion-card mode="ios"
    *ngIf="claim && ['approved', 'pending'].includes(claim.status) && staff && (staff.user_role == 1 || staff.user_role == 5)"
    style="margin: 0;">
    <ion-card-content style="padding: 10px;">
      <ion-grid>
        <ion-row *ngIf="!actionType && claim">
          <ion-col size="12" *ngIf="claim.status == 'approved'">
            <ion-button expand="block" color="warning" (click)="selectActionType('pay')">Pay</ion-button>
          </ion-col>
          <ion-col size="12" *ngIf="claim.status == 'pending'">
            <ion-button expand="block" color="success" (click)="selectActionType('approve')">Approve</ion-button>
          </ion-col>
          <ion-col size="6" *ngIf="claim.status == 'pending'">
            <ion-button expand="block" color="danger" (click)="selectActionType('reject')">Reject</ion-button>
          </ion-col>
          <ion-col size="6" *ngIf="claim.status == 'pending'">
            <ion-button expand="block" color="warning" (click)="selectActionType('void')">Void</ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="actionType && actionType != 'pay'">
          <ion-col size="12">
            <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 20px 0 0 0;"
              *ngIf="actionType == 'approve'">
              <ion-label position="floating">Workshop Name</ion-label>
              <ion-input [(ngModel)]="input_workshop"></ion-input>
            </ion-item>
            <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 20px 0 0 0;">
              <ion-label position="floating">Remarks</ion-label>
              <ion-textarea [(ngModel)]="input_remarks"></ion-textarea>
            </ion-item>
          </ion-col>

          <ion-col size="12" *ngIf="actionType && actionType == 'void'">
            <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 0;">
              <ion-label position="default">Void Type: </ion-label>
              <ion-select placeholder="Select One" [(ngModel)]="void_type" interface="action-sheet">
                <ion-select-option *ngFor="let void of void_reasons" [value]="void.id">
                  {{ void.name }}
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 0;">
              <ion-label position="default">Date: </ion-label>
              <ion-input [(ngModel)]="input_claim_date" type="datetime-local" class="ion-text-end">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="actionType">
        <ion-row>
          <ion-col size="6" style="height: 140px;" *ngFor="let image of statusImages; index as i;">

            <ion-img style="height: 100%; object-fit: cover; border-radius: 8px; overflow: hidden; border: 2px solid;"
              role="button" class="image" [src]="image.url" *ngIf="image.type == 'image'">
            </ion-img>

            <ion-text *ngIf="image.type == 'file'">
              {{ image.file.name }}
            </ion-text>

            <ion-chip class="chip-close" (click)="removeImage(i)">
              <ion-icon name="close"></ion-icon>
            </ion-chip>
          </ion-col>
          <ion-col size="6" style="height: 140px;">
            <ion-card style="margin: 0; border: 2px solid; height: 100%;" (click)="selectImageSource()">
              <ion-icon name="document-outline" style="font-size: 40px; margin: 15px 15px 0 15px; color: black;">
              </ion-icon>
              <ion-card-header>
                <ion-card-title style="font-size: 18px;">Add File</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 30px;">
          <ion-col size="12">
            <ion-button expand="block" color="light" (click)="selectActionType(null)">Cancel</ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="block" color="primary" (click)="confirmChangeStatus()">{{ actionType | titlecase }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid
        *ngIf="!actionType && claim && (claim.status == 'paid' || claim.status == 'void' || claim.status == 'rejected') ">
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="dark" disabled>
              {{ claim.status | titlecase }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>

  </ion-card>

</ion-content>

<!-- <ion-footer class="ion-no-border" collapse="fade" mode="ios">
  <ion-card mode="ios" *ngIf="claim && claim.status == 'pending' && staff && staff.user_role == 5" style="margin: 0;">
    <ion-card-content style="padding: 10px;">
      <ion-grid>
        <ion-row *ngIf="!actionType && claim">
          <ion-col size="12" *ngIf="claim.status == 'approved'">
            <ion-button expand="block" color="warning" (click)="selectActionType('pay')">Pay</ion-button>
          </ion-col>
          <ion-col size="12" *ngIf="claim.status == 'pending'">
            <ion-button expand="block" color="success" (click)="selectActionType('approve')">Approve</ion-button>
          </ion-col>
          <ion-col size="6" *ngIf="claim.status == 'pending'">
            <ion-button expand="block" color="danger" (click)="selectActionType('reject')">Reject</ion-button>
          </ion-col>
          <ion-col size="6" *ngIf="claim.status == 'pending'">
            <ion-button expand="block" color="warning" (click)="selectActionType('void')">Void</ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="actionType && actionType != 'pay'">
          <ion-col size="12">
            <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 20px 0 0 0;"
              *ngIf="actionType == 'approve'">
              <ion-label position="floating">Workshop Name</ion-label>
              <ion-input [(ngModel)]="input_workshop"></ion-input>
            </ion-item>
            <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 20px 0 0 0;">
              <ion-label position="floating">Remarks</ion-label>
              <ion-textarea [(ngModel)]="input_remarks"></ion-textarea>
            </ion-item>
          </ion-col>

          <ion-col size="12">
            <ion-item fill="outline" mode="md" class="ez-material-input" style="margin: 0;">
              <ion-label position="default">Claim Date: </ion-label>
              <ion-input [(ngModel)]="input_claim_date" type="date" class="ion-text-end">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid *ngIf="actionType">
        <ion-row>
          <ion-col size="6" style="height: 140px;" *ngFor="let image of statusImages; index as i;">
            <ion-img style="height: 100%; object-fit: cover; border-radius: 8px; overflow: hidden; border: 2px solid;"
              role="button" class="image" [src]="image.base64" *ngIf="image.base64">
            </ion-img>
            <ion-chip class="chip-close" (click)="removeImage(i)">
              <ion-icon name="close"></ion-icon>
            </ion-chip>
          </ion-col>
          <ion-col size="6" style="height: 140px;">
            <ion-card style="margin: 0; border: 2px solid; height: 100%;" (click)="selectImageSource()">
              <ion-icon name="document-outline" style="font-size: 40px; margin: 15px 15px 0 15px; color: black;">
              </ion-icon>
              <ion-card-header>
                <ion-card-title style="font-size: 18px;">Add File</ion-card-title>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
        <ion-row style="margin-top: 30px;">
          <ion-col size="12">
            <ion-button expand="block" color="light" (click)="selectActionType(null)">Cancel</ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button expand="block" color="primary" (click)="confirmChangeStatus()">{{ actionType | titlecase }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid
        *ngIf="!actionType && claim && (claim.status == 'paid' || claim.status == 'void' || claim.status == 'rejected') ">
        <ion-row>
          <ion-col size="12">
            <ion-button expand="block" color="dark" disabled>
              {{ claim.status | titlecase }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>

  </ion-card>
</ion-footer> -->