<ion-header>
  <ion-toolbar mode="md" class="ez-toolbar" color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Customer Claims
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="light" style="margin: 14px 5px; font-size: 18px;" [routerLink]="['/notification']">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-segment (ionChange)="segmentChanged($event)" mode="md" [value]="segment" scrollable>
    <ion-segment-button value="claim">
      <ion-label>Claim History</ion-label>
    </ion-segment-button>
    <ion-segment-button value="payment">
      <ion-label>Claim Payment</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>

  <div *ngIf="segment == 'claim'">

    <div class="ion-padding ion-text-center" *ngIf="!services">
      <ion-spinner></ion-spinner>
    </div>

    <ion-card mode="ios" *ngIf="services && services.length == 0" style="margin-top: 20px;">
      <div class="ion-text-center">
        <h4>No claim record</h4>
      </div>
    </ion-card>

    <div *ngIf="services && services.length > 0">

      <ion-list mode="ios">
        <ion-item class="ez-item" *ngFor="let service of services" (click)="viewClaim(service.id)">
          <ion-label>
            <h2>Registration No:</h2>
            <ion-badge color="light" *ngIf="cPolicy">
              {{ cPolicy.cust_vehicleregno }}
            </ion-badge><br>
          </ion-label>
          <ion-note slot="end">
            {{ service.created_at | date : "d MMMM, y" }}
          </ion-note>
        </ion-item>


      </ion-list>

    </div>

  </div>

  <div *ngIf="segment == 'payment'">

    <div class="ion-padding ion-text-center" *ngIf="!claim_payments">
      <ion-spinner></ion-spinner>
    </div>

    <ion-card mode="ios" *ngIf="claim_payments && claim_payments.length == 0" style="margin-top: 20px;">
      <div class="ion-text-center">
        <h4>No claim payment record</h4>
      </div>
    </ion-card>

    <div mode="ios" *ngIf="claim_payments && claim_payments.length > 0">

      <ion-list mode="ios">
        <ion-item class="ez-item" *ngFor="let claim_payment of claim_payments">
          <ion-label>
            <h2>
              Type: {{ claim_payment.claim_type | titlecase }}
              <span style="float: right;">
                {{ claim_payment.claimdate | date : "d MMM, y" }}
              </span>
            </h2>
            <h3>
              <span>
                RM {{ claim_payment.amount }}
              </span>
            </h3>
            <p style="white-space:normal;" *ngIf="claim_payment && claim_payment.workshop">
              Workshop: {{ claim_payment.workshop }}
            </p>
            <p style="white-space:normal;">
              {{ claim_payment.description1 }}
            </p>
            <p style="white-space:normal;">
              {{ claim_payment.description2 }}
            </p>
          </ion-label>
        </ion-item>


      </ion-list>

    </div>

  </div>

</ion-content>