<ion-header>
  <ion-toolbar mode="ios" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Mobile Service
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" mode="ios">

  <ion-slides pager="true" [options]="slideOpts" class="banners" *ngIf="settings && settings.banners">
    <ion-slide *ngFor="let image of settings.banners">
      <img [src]="image" />
    </ion-slide>
  </ion-slides>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>WE ARE HERE FOR YOU</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      With ECW Mobile Service, we offer you the convenience of knowing exactly when your vehicle will be serviced and
      ready to go.
      <br>
      <br>
      You can arrange your mechanic on your time schedule and know what you’re going to be paying for and
      when it’s going to be completed.
      <br>
      <br>
      There is no need to arrange alternative transport or juggle your schedule to fit
      in drop off and pick ups at your regular workshop.
      <br>
      <br>
      So if your vehicle is need of a service and you have been
      struggling to find the time to get to your local mechanic, just set an appointment with us and we will come to
      your place.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>PROFESSIONAL 10 POINT CHECK</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list class="ez-mobile-service-list">
        <ion-item>
          <ion-icon name="checkmark-outline" slot="start" size="large"></ion-icon>
          <ion-label>
            Computer Diagnostic Test
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline" slot="start" size="large"></ion-icon>
          <ion-label>
            Electronic Systems Check
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline" slot="start" size="large"></ion-icon>
          <ion-label>
            Fluid Level Check
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline" slot="start" size="large"></ion-icon>
          <ion-label>
            Leakage Check
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline" slot="start" size="large"></ion-icon>
          <ion-label>
            Windscreen Wiper Blades Check
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline" slot="start" size="large"></ion-icon>
          <ion-label>
            Water Levels Check
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline" slot="start" size="large"></ion-icon>
          <ion-label>
            Tyres Condition, Pressure & Tread Depth Check
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline" slot="start" size="large"></ion-icon>
          <ion-label>
            Air Conditioning System Check
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline" slot="start" size="large"></ion-icon>
          <ion-label>
            Brake System Check
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="checkmark-outline" slot="start" size="large"></ion-icon>
          <ion-label>
            Instrumental & Gauges Panel Check
          </ion-label>
        </ion-item>

      </ion-list>

    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>OUR MOBILE SERVICE UNIT</ion-card-title>
    </ion-card-header>

    <ion-slides pager="true" [options]="slideOpts" class="banners" *ngIf="settings && settings.unit_banners">
      <ion-slide *ngFor="let image of settings.unit_banners">
        <img [src]="image" />
      </ion-slide>
      <!-- <ion-slide>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/ezcare-1580b.appspot.com/o/mobile_services%2Fmb1-min.png?alt=media&token=d100c721-3d98-4998-b343-ba70aa732311" />
      </ion-slide>
      <ion-slide>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/ezcare-1580b.appspot.com/o/mobile_services%2Fmb2-min.png?alt=media&token=f278fe59-3d9b-4fd8-be36-e62a7b9eb410" />
      </ion-slide>
      <ion-slide>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/ezcare-1580b.appspot.com/o/mobile_services%2Fmb3-min.png?alt=media&token=57e247f5-a2f7-4d0d-a7cb-c5ae5857f838" />
      </ion-slide>
      <ion-slide>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/ezcare-1580b.appspot.com/o/mobile_services%2Fmb4-min.png?alt=media&token=f83f70ba-e796-4522-b7a8-f34df334ed1b" />
      </ion-slide>
      <ion-slide>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/ezcare-1580b.appspot.com/o/mobile_services%2Fmb5-min.png?alt=media&token=a47d5dc5-7365-4af3-96a4-9e97dfa3d0ea" />
      </ion-slide>
      <ion-slide>
        <img
          src="https://firebasestorage.googleapis.com/v0/b/ezcare-1580b.appspot.com/o/mobile_services%2Fmb6-min.png?alt=media&token=04b0bf11-a59c-440a-b8de-2d44b3c264b3" />
      </ion-slide> -->
    </ion-slides>

  </ion-card>

</ion-content>

<ion-footer collapse="fade" class="ion-no-border">
  <ion-toolbar style="padding: 10px 30px; ">
    <ion-button expand="block" shape="round" color="success" (click)="mobileService()" class="btn-big">
      <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
      MAKE your APPOINTMENT NOW
    </ion-button>
  </ion-toolbar>
</ion-footer>