<ion-header>
  <ion-toolbar mode="ios" class="ez-toolbar" color="primary">
    <img src="../../assets/Ezcarehorizontal.png" class="logo" />

    <ion-title size="large">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="light" style="margin: 14px 5px; font-size: 18px;">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" mode="ios">

  <ion-text>
    <h2 class="ez-title bold">Workshops</h2>
  </ion-text>


  <div class="map-wrapper">
    <div id="map_center">
      <!-- <img src="assets/icon/location-marker.png" /> -->
    </div>
    <div #map id="map"></div>
  </div>

  <ion-searchbar placeholder="Search..." debounce="1000" (ionChange)="searchWorkshops($event)" animated="true">
  </ion-searchbar>

  <ion-list>

    <ion-item *ngFor="let workshop of workshops">
      <!-- <ion-avatar slot="start">
        <img src="./avatar-han.png" />
      </ion-avatar> -->
      <ion-label>
        <h2>{{ workshop.name }}</h2>
        <h3>{{ workshop.phone }}</h3>
        <p>{{ workshop.desc }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer collapse="fade" class="ion-no-border">
  <ion-toolbar style="padding: 10px 30px; ">
    <ion-button expand="block" shape="round" color="danger" (click)="mobileService()" class="btn-big">
      <ion-icon name="construct" slot="start"></ion-icon>
      Mobile Service
    </ion-button>
  </ion-toolbar>
</ion-footer>