<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Policies
    </ion-title>
  </ion-toolbar>
  <ion-searchbar mode="ios" (ionInput)="searching($event)" debounce="300" placeholder="Search by Reg No"
    *ngIf="status && status == 'complete'">
  </ion-searchbar>
</ion-header>

<ion-content>

  <ion-toolbar *ngIf="status && status != 'complete'" style="position: fixed; background-color: white;">
    <ion-grid>
      <ion-row>
        <ion-col size="7">
          <ion-text>
            <p style="margin: 0; font-weight: bolder;">Filter by</p>
            <p style="margin: 0;">Status: {{ status | titlecase }}</p>
            <p style="margin: 0;" *ngIf="statusTemp2 == 'paid' || statusTemp2 == 'all' || statusTemp2 == 'expired'">
              Start date: {{ start_date |
              date: 'dd/MM/YYYY' }}</p>
            <p style="margin: 0;" *ngIf="statusTemp2 == 'paid' || statusTemp2 == 'all' || statusTemp2 == 'expired'">End
              date: {{ end_date | date:
              'dd/MM/YYYY' }}</p>
          </ion-text>
        </ion-col>
        <ion-col size="5" class="ion-align-items-end"
          style="display: flex; justify-content: flex-end; align-content: center; flex-wrap: wrap;">
          <ion-button (click)="openFilterBy()">Change</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <div style="margin-top: 120px;" *ngIf="status && status != 'complete' && this.year">

  </div>

  <div style="margin-top: 80px;" *ngIf="status && status != 'complete' && !this.year">

  </div>

  <ion-grid *ngIf="!status">
    <ion-row>
      <ion-col>
        <ion-text>
          <h3>Filter by</h3>
        </ion-text>
        <ion-item fill="outline" mode="md" class="ez-material-input">
          <ion-label>
            Status
          </ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss" interface="action-sheet"
            placeholder="Please choose" (ionChange)="changeStatus($event);" [(ngModel)]="statusTemp2">
            <ion-select-option value="all">
              View All
            </ion-select-option>
            <ion-select-option value="paid">
              Paid
            </ion-select-option>
            <ion-select-option value="unpaid">
              Unpaid
            </ion-select-option>
            <ion-select-option value="expired">
              Expired
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item fill="outline" mode="md" class="ez-material-input"
          *ngIf="statusTemp2 == 'paid' || statusTemp2 == 'all' || statusTemp2 == 'expired'">
          <ion-label position="floating">Start Date: </ion-label>
          <ion-input placeholder="" type="date" class="ion-text-end" [(ngModel)]="start_date">
          </ion-input>
        </ion-item>
        <ion-item fill="outline" mode="md" class="ez-material-input"
          *ngIf="statusTemp2 == 'paid' || statusTemp2 == 'all' || statusTemp2 == 'expired'">
          <ion-label position="floating">End Date: </ion-label>
          <ion-input placeholder="" type="date" class="ion-text-end" [(ngModel)]="end_date">
          </ion-input>
        </ion-item>
        <ion-item fill="outline" mode="md" class="ez-material-input">
          <ion-label position="floating">Dealer: </ion-label>
          <!-- <ion-input placeholder="" type="date" class="ion-text-end" [(ngModel)]="end_date">
          </ion-input> -->
          <ionic-selectable [items]="helper.dealers" itemValueField="id" itemTextField="name" [canSearch]="true"
            [canClear]="true" [(ngModel)]="dealer" [hasVirtualScroll]="true">
            <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
              {{ port.name }}
            </ng-template>
          </ionic-selectable>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="filter()">Filter</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" color="light" (click)="cancel()">Cancel</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="status">
    <ion-spinner name="dots" *ngIf="!loaded" style="width: 100%; margin-top: 20px; font-size: 20px;"></ion-spinner>

    <h6 *ngIf="loaded && policies && policies.length == 0" class="ion-text-center">
      No policy available
    </h6>

    <ion-card mode="ios" *ngFor="let policy of policies" (click)="viewPolicy(policy.cust_id)"
      style="margin-top: 10px; margin-bottom: 10px;">
      <ion-item lines="none">
        <ion-label>
          <h2>
            Policy No: {{ policy.cust_policyno }}
            <ion-badge color="danger" *ngIf="policy.status == 'rejected'" style="float: right;">Rejected</ion-badge>
            <ion-badge color="success" *ngIf="policy.status == 'proceed'" style="float: right;">Proceed</ion-badge>
          </h2>
          <p>Reg No: {{ policy.cust_vehicleregno }}</p>
          <p>Vehicle: {{ policy.cust_vehicledesc }}</p>
          <ion-text color="dark">
            <p *ngIf="policy && policy.marketing_officer">MO: {{ policy.marketing_officer.name }}</p>
          </ion-text>
          <ion-text color="success">
            <p>Activated At: {{ policy.cust_dateactivated | date: 'dd/MM/YYYY' }}</p>
          </ion-text>
          <ion-text color="danger">
            <p>Expired At: {{ policy.cust_dateexpired | date: 'dd/MM/YYYY' }}</p>
          </ion-text>
          <p></p>
        </ion-label>
      </ion-item>
    </ion-card>

  </div>


</ion-content>