<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>
      Inspections
    </ion-title>
    <ion-button *ngIf="segment == 'schedule'" (click)="addSchedule()" color="success" slot="end"
      style="padding-right:5px;">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Add Schedule
    </ion-button>
    <ion-button *ngIf="segment == 'inspection'" (click)="addInspection()" color="success" slot="end"
      style="padding-right:5px;">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Add Inspection
    </ion-button>
    <ion-button *ngIf="segment == 'noninspection'" (click)="addNonInspection()" color="success" slot="end"
      style="padding-right:5px;">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      Add Non Inspect
    </ion-button>
    <!-- <ion-buttons slot="end">
      <ion-button *ngIf="segment == 'schedule'" (click)="addSchedule()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Add Schedule
      </ion-button>
      <ion-button *ngIf="segment == 'inspection'" (click)="addInspection()">
        <ion-icon slot="start" name="add-outline"></ion-icon>
        Add Inspection
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>

  <ion-searchbar mode="ios" (ionInput)="searching($event)" debounce="100" placeholder="Search by Dealer, MO or Chassis">
  </ion-searchbar>

  <ion-segment (ionChange)="segmentChange($event)" mode="md" [value]="segment" scrollable>
    <ion-segment-button value="schedule">
      <ion-label>Schedule</ion-label>
    </ion-segment-button>
    <ion-segment-button value="inspection">
      <ion-label>Inspection</ion-label>
    </ion-segment-button>
    <ion-segment-button value="noninspection">
      <ion-label>Non inspect</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h4 style="margin: 5px; font-size: 18px;">Filter by</h4>
        <div style="padding: 5px;" *ngIf="segment == 'schedule'">
          <ion-segment (ionChange)="scheduleSegmentChange($event)" mode="ios" [value]="scheduleSegment">
            <ion-segment-button value="unassigned">
              <ion-label>Unassigned</ion-label>
            </ion-segment-button>
            <ion-segment-button value="mine">
              <ion-label>Mine</ion-label>
            </ion-segment-button>
            <ion-segment-button value="all">
              <ion-label>All</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div style="padding: 5px;" *ngIf="segment == 'inspection'">
          <ion-segment (ionChange)="inspectionSegmentChange($event)" mode="ios" [value]="inspectSegment">
            <ion-segment-button value="mine">
              <ion-label>Mine</ion-label>
            </ion-segment-button>
            <ion-segment-button value="all">
              <ion-label>All</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div style="padding: 5px;" *ngIf="segment == 'noninspection'">
          <ion-segment (ionChange)="nonInspectionSegmentChange($event)" mode="ios" [value]="nonInspectSegment">
            <ion-segment-button value="mine">
              <ion-label>Mine</ion-label>
            </ion-segment-button>
            <ion-segment-button value="all">
              <ion-label>All</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card mode="ios" style="margin: 0px 5px 0px 5px;" *ngIf="staff && staff.user_branch == 8">
          <ion-select interface="action-sheet" placeholder="Select Branch" [value]="branch" [(ngModel)]="branch"
            (ionChange)="changeBranch($event)">
            <ion-select-option *ngFor="let branch of helper.branches" [value]="branch.id">
              {{ branch.branch }}
            </ion-select-option>
          </ion-select>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card mode="ios" style="margin: 0px 5px 0px 5px;">
          <ion-input placeholder="" [(ngModel)]="dayFilter" (ionChange)="filterByDay()" type="date" class="ez-date">
          </ion-input>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div style="display: flex; justify-content: space-between;">
    <ion-button size="small" fill="clear" (click)="changeFilterDateRange('down')">
      <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
    <div style="margin-top: 6px;">
      {{ filterStartMonth.format('MMMM YYYY') }}
    </div>
    <ion-button size="small" fill="clear" (click)="changeFilterDateRange('up')">
      <ion-icon slot="icon-only" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>

  <div *ngIf="segment == 'schedule'">

    <!-- <ion-button id="open-modal" expand="block">Filter by</ion-button>

    <ion-modal #modal trigger="open-modal" [presentingElement]="presentingElement" mode="ios" [initialBreakpoint]="0.5">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Filter by</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="modal.dismiss()">Close</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-card mode="ios" style="margin: 10px 10px 0 0;">
            <ion-input placeholder="" [(ngModel)]="dayFilter" (ionChange)="filterByDay()" type="date" class="ez-date">
            </ion-input>
          </ion-card>
          <ion-card mode="ios" style="margin: 10px 10px 0 0;" *ngIf="staff && staff.user_branch == 8">
            <ion-select interface="action-sheet" placeholder="Select Branch" [(ngModel)]="branch"
              (ionChange)="changeBranch($event)">
              <ion-select-option *ngFor="let branch of helper.branches" [value]="branch.id">
                {{ branch.branch }}
              </ion-select-option>
            </ion-select>
          </ion-card>
        </ion-content>
      </ng-template>
    </ion-modal> -->

    <div style="width: 100%; text-align:center;" class="ion-padding" *ngIf="!scheduleLoaded">
      <ion-spinner></ion-spinner>
    </div>

    <div style="width: 100%; text-align:center;" class="ion-padding"
      *ngIf="scheduleLoaded && scheduleInspections && scheduleInspections.length == 0">
      No record available
    </div>

    <ion-accordion-group [value]="groupScheduleInspections[0].name" class="ion-margin-bottom"
      *ngIf="groupScheduleInspections && groupScheduleInspections[0] && groupScheduleInspections[0].data && groupScheduleInspections[0].data.length > 0">

      <ion-accordion [value]="groupInspection.name" *ngFor="let groupInspection of groupScheduleInspections">
        <ion-item slot="header">
          <ion-label>{{ groupInspection.name }}</ion-label>
        </ion-item>

        <ion-list slot="content">
          <ion-item *ngFor="let inspection of groupInspection.data" (click)="scheduleAction(inspection.id)">
            <ion-checkbox slot="end" *ngIf="beginPickup"></ion-checkbox>
            <!-- <ion-thumbnail slot="start" *ngIf="inspection.images[0]">
              <img [src]="inspection.images[0].image_thumb_link">
            </ion-thumbnail> -->
            <ion-label>
              <h2>
                <span *ngIf="inspection.dealer.name">
                  {{ inspection.dealer.name }}
                </span>
                <span *ngIf="!inspection.dealer.name">
                  {{ inspection.dealer }}
                </span>
                <span *ngIf="inspection.inspection_type == 'Claim Case'">
                  CLAIM CASE: {{ inspection.marketing_officer.name }}
                </span>
                <ion-badge color="warning" *ngIf="inspection.status == 'pending'" style="float: right;">Pending
                </ion-badge>
                <ion-badge color="success" *ngIf="inspection.status == 'completed'" style="float: right;">Completed
                </ion-badge>
              </h2>
              <p *ngIf="inspection.marketing_officer && inspection.dealer != ''">MO:
                {{ inspection.marketing_officer.name }}</p>
              <p *ngIf="inspection.marketing_officer">Created by: {{ inspection.created_by_name }}</p>
              <p style="display: flex; justify-content: space-between; color: #000000;">
                <span *ngIf="inspection.chassis">
                  {{ inspection.chassis }}
                </span>
                <span *ngIf="!inspection.reminder_date">
                  {{ inspection.date.toDate() | date: 'dd/MM/YYYY' }}
                </span>
              </p>
              <ion-chip *ngIf="inspection.reminder_date" color="amber" [outline]="true">
                <ion-label>{{ inspection.reminder_date.toDate() | date: 'dd/MM/YY' }}
                </ion-label>
              </ion-chip>
              <ion-chip *ngIf="inspection.reminder_date" color="danger" [outline]="true">
                <ion-label>{{ inspection.reminder_date.toDate() | date: 'EEEE h:mm a' }}
                </ion-label>
              </ion-chip>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>

    </ion-accordion-group>

  </div>

  <div *ngIf="segment == 'inspection'">

    <div style="width: 100%; text-align:center;" class="ion-padding" *ngIf="!inspectionLoaded">
      <ion-spinner></ion-spinner>
    </div>

    <div style="width: 100%; text-align:center;" class="ion-padding"
      *ngIf="inspectionLoaded && inspections && inspections.length == 0">
      No record available
    </div>

    <ion-accordion-group [value]="groupInspections[0].name" class="ion-margin-bottom"
      *ngIf="groupInspections && groupInspections[0] && groupInspections[0].data && groupInspections[0].data.length > 0">

      <ion-accordion [value]="groupInspection.name" *ngFor="let groupInspection of groupInspections">
        <ion-item slot="header">
          <ion-label>{{ groupInspection.name }}</ion-label>
        </ion-item>

        <ion-list slot="content">
          <ion-item *ngFor="let inspection of groupInspection.data" (click)="viewInspection(inspection.id)">
            <!-- <ion-thumbnail slot="start" *ngIf="inspection.images[0]">
              <img [src]="inspection.images[0].image_thumb_link">
            </ion-thumbnail> -->
            <ion-label>
              <h2>
                <span *ngIf="inspection.dealer.name">
                  {{ inspection.dealer.name }}
                </span>
                <span *ngIf="!inspection.dealer.name && inspection.dealer != ''">
                  {{ inspection.dealer }}
                </span>
                <span *ngIf="inspection.inspection_type == 'Claim Case'">
                  CLAIM CASE: {{ inspection.marketing_officer.name }}
                </span>
                <ion-badge color="warning" *ngIf="inspection.status == 'pending'" style="float: right;">Pending
                </ion-badge>
                <ion-badge color="danger" *ngIf="inspection.status == 'rejected'" style="float: right;">Rejected
                </ion-badge>
                <ion-badge color="success" *ngIf="inspection.status == 'proceed'" style="float: right;">Proceed
                </ion-badge>
              </h2>
              <p *ngIf="inspection.marketing_officer && inspection.dealer != ''">MO:
                {{ inspection.marketing_officer.name }}</p>
              <p *ngIf="inspection.marketing_officer">Created by: {{ inspection.created_by_name }}</p>
              <p style="display: flex; justify-content: space-between; color: #000000;">
                <span *ngIf="inspection.chassis">
                  {{ inspection.chassis }}
                </span>
                <span *ngIf="!inspection.reminder_date">
                  {{ inspection.date.toDate() | date: 'dd/MM/YYYY' }}
                </span>
              </p>
              <ion-chip *ngIf="inspection.reminder_date" color="amber" [outline]="true">
                <ion-label>{{ inspection.reminder_date.toDate() | date: 'dd/MM/YY' }}
                </ion-label>
              </ion-chip>
              <ion-chip *ngIf="inspection.reminder_date" color="danger" [outline]="true">
                <ion-label>{{ inspection.reminder_date.toDate() | date: 'EEEE h:mm a' }}
                </ion-label>
              </ion-chip>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>

    </ion-accordion-group>

  </div>

  <div *ngIf="segment == 'noninspection'">

    <div style="width: 100%; text-align:center;" class="ion-padding" *ngIf="!nonInspectionLoaded">
      <ion-spinner></ion-spinner>
    </div>

    <div style="width: 100%; text-align:center;" class="ion-padding"
      *ngIf="nonInspectionLoaded && nonInspections && nonInspections.length == 0">
      No record available
    </div>

    <ion-accordion-group [value]="groupNonInspections[0].name" class="ion-margin-bottom"
      *ngIf="groupNonInspections && groupNonInspections[0] && groupNonInspections[0].data && groupNonInspections[0].data.length > 0">

      <ion-accordion [value]="groupInspection.name" *ngFor="let groupInspection of groupNonInspections">
        <ion-item slot="header">
          <ion-label>{{ groupInspection.name }}</ion-label>
        </ion-item>

        <ion-list slot="content">
          <ion-item *ngFor="let inspection of groupInspection.data" (click)="viewNonInspection(inspection.id)">
            <!-- <ion-thumbnail slot="start" *ngIf="inspection.images[0]">
              <img [src]="inspection.images[0].image_thumb_link">
            </ion-thumbnail> -->
            <ion-label>
              <h2>
                <span *ngIf="inspection.dealer.name">
                  {{ inspection.dealer.name }}
                </span>
                <span *ngIf="!inspection.dealer.name">
                  {{ inspection.dealer }}
                </span>
                <ion-badge color="warning" *ngIf="inspection.status == 'pending'" style="float: right;">Pending
                </ion-badge>
                <ion-badge color="danger" *ngIf="inspection.status == 'rejected'" style="float: right;">Rejected
                </ion-badge>
                <ion-badge color="success" *ngIf="inspection.status == 'proceed'" style="float: right;">Proceed
                </ion-badge>
              </h2>
              <p *ngIf="inspection.marketing_officer">MO: {{ inspection.marketing_officer.name }}</p>
              <p *ngIf="inspection.marketing_officer">Created by: {{ inspection.created_by_name }}</p>
              <p style="display: flex; justify-content: space-between; color: #000000;">
                <span *ngIf="inspection.chassis">
                  {{ inspection.chassis }}
                </span>
                <span *ngIf="!inspection.reminder_date">
                  {{ inspection.date.toDate() | date: 'dd/MM/YYYY' }}
                </span>
              </p>
              <ion-chip *ngIf="inspection.reminder_date" color="amber" [outline]="true">
                <ion-label>{{ inspection.reminder_date.toDate() | date: 'dd/MM/YY' }}
                </ion-label>
              </ion-chip>
              <ion-chip *ngIf="inspection.reminder_date" color="danger" [outline]="true">
                <ion-label>{{ inspection.reminder_date.toDate() | date: 'EEEE h:mm a' }}
                </ion-label>
              </ion-chip>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>

    </ion-accordion-group>

  </div>

</ion-content>

<ion-footer *ngIf="segment == 'schedule' && scheduleSegment == 'unassigned'">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="!beginPickup">
          <ion-button expand="block" color="warning" (click)="togglePickup(true)" size="small">
            <ion-icon name="add-circle-outline" slot="start"></ion-icon>
            Begin Pickup
          </ion-button>
        </ion-col>
        <ion-col *ngIf="beginPickup">
          <ion-button expand="block" color="success" size="small" (click)="pickupAllSelectedInspection()">Pickup
          </ion-button>
        </ion-col>
        <ion-col *ngIf="beginPickup">
          <ion-button expand="block" color="light" (click)="togglePickup(false)" size="small">Cancel</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>