<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>
      Services
    </ion-title>
  </ion-toolbar>

  <ion-searchbar mode="ios" placeholder="Enter Policy No or Reg No" [(ngModel)]="searchText" debounce="100"
    (ionInput)="searchClaims($event)"></ion-searchbar>

  <ion-segment (ionChange)="segmentChanged($event)" mode="md" [value]="segment">
    <ion-segment-button value="mine">
      <ion-label>My Services</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all">
      <ion-label>View All</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content>

  <ion-accordion-group mode="ios" style="margin-top: 15px;" [value]="groupServices[0].name"
    *ngIf="groupServices && groupServices[0] && groupServices[0].data && groupServices[0].data.length > 0">

    <ion-accordion [value]="groupService.name" *ngFor="let groupService of groupServices">
      <ion-item slot="header">
        <ion-label>{{ groupService.name }}</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item *ngFor="let service of groupService.data" (click)="viewClaim(service.id)">
          <ion-thumbnail slot="start" class="ez-square-badge">
            <ion-badge color="warning" *ngIf="service.service_type_id == 1">
              Engine<br>Oil
            </ion-badge>
            <ion-badge color="success" *ngIf="service.service_type_id == 2">
              ATF<br>Oil
            </ion-badge>
            <ion-badge color="danger" *ngIf="service.service_type_id == 3" style="font-size: 12px;">
              Engine + <br>ATF Oil
            </ion-badge>
          </ion-thumbnail>
          <ion-label>

            <div *ngIf="service.service_type_id == 1 || service.service_type_id == 3">
              <h3 *ngIf="service.engine_oil_type_id == 1">Next Service (Semi):</h3>
              <h3 *ngIf="service.engine_oil_type_id == 2">Next Service (Fully):</h3>
              <ion-badge color="light">
                {{ service.next_due_mileage }} KM
              </ion-badge><br>
              <ion-badge color="light">
                {{ service.next_due_date | date : "d/MM/y" }}
              </ion-badge>
            </div>

            <div *ngIf="service.service_type_id == 2 || service.service_type_id == 3">
              <h3>Next Service (ATF):</h3>
              <ion-badge color="light">
                {{ service.next_due_mileage_atf }} KM
              </ion-badge><br>
              <ion-badge color="light">
                {{ service.next_due_date_atf | date : "d/MM/y" }}
              </ion-badge>
            </div>

          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

  </ion-accordion-group>

  <ion-item class="ez-item" *ngIf="isSearching">
    <ion-label>
      <h2>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </h2>
      <h2>
        <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      </h2>
    </ion-label>
    <ion-note slot="end">
    </ion-note>
  </ion-item>

  <ion-item class="ez-item" *ngIf="!services && !isSearched && !isSearching">
    <ion-label>
      <h2 style="text-overflow: initial; white-space: normal;">
        Please search by policy no or registration number to view service.
      </h2>
    </ion-label>
  </ion-item>

  <ion-item class="ez-item" *ngIf="!services && isSearched && !isSearching">
    <ion-label>
      <h2>
        No service record
      </h2>
    </ion-label>
  </ion-item>

</ion-content>