<ion-header>
  <ion-toolbar mode="md" color="primary">
    <ion-title>
      Inspections
    </ion-title>
  </ion-toolbar>

  <ion-searchbar mode="ios" (ionInput)="searching($event)" debounce="100" placeholder="Search by dealer or MO">
  </ion-searchbar>

  <ion-segment (ionChange)="segmentChanged($event)" mode="md" [value]="segment" scrollable>
    <ion-segment-button value="mine">
      <ion-label>Mine</ion-label>
    </ion-segment-button>
    <ion-segment-button value="all">
      <ion-label>View All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="schedule">
      <ion-label>Schedule</ion-label>
    </ion-segment-button>
    <ion-segment-button value="history">
      <ion-label>History</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <h6 *ngIf="loaded && inspections && inspections.length == 0" class="ion-text-center">
    No inspection available
  </h6>

  <ion-accordion-group [value]="groupInspections[0].name" class="ion-margin-bottom"
    *ngIf="groupInspections && groupInspections[0] && groupInspections[0].data && groupInspections[0].data.length > 0">

    <ion-accordion [value]="groupInspection.name" *ngFor="let groupInspection of groupInspections">
      <ion-item slot="header">
        <ion-label>{{ groupInspection.name }}</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item *ngFor="let inspection of groupInspection.data" (click)="viewLog(inspection.id)">
          <!-- <ion-thumbnail slot="start" *ngIf="inspection.images[0]">
            <img [src]="inspection.images[0].image_thumb_link">
          </ion-thumbnail> -->
          <ion-label>
            <h2>
              {{ inspection.dealer }}
              <ion-badge color="warning" *ngIf="inspection.status == 'pending'" style="float: right;">Pending
              </ion-badge>
              <ion-badge color="danger" *ngIf="inspection.status == 'rejected'" style="float: right;">Rejected
              </ion-badge>
              <ion-badge color="success" *ngIf="inspection.status == 'proceed'" style="float: right;">Proceed
              </ion-badge>
            </h2>
            <p *ngIf="inspection.marketing_officer">MO: {{ inspection.marketing_officer.name }}</p>
            <p *ngIf="inspection.marketing_officer">Created by: {{ inspection.created_by_name }}</p>
            <p *ngIf="!inspection.reminder_date">{{ inspection.date.toDate() | date: 'dd/MM/YYYY' }}</p>
            <ion-chip *ngIf="inspection.reminder_date" color="danger">
              <ion-label>Inspection Time: {{ inspection.reminder_date.toDate() | date: 'dd/MM/YYYY
                h:mm a'
                }}</ion-label>
            </ion-chip>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>

  </ion-accordion-group>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="addLog()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>