<ion-header>
  <ion-toolbar mode="ios" class="ez-toolbar" color="primary">
    <img src="../../assets/Ezcarehorizontal.png" class="logo" />

    <ion-title size="large">
    </ion-title>

    <ion-buttons slot="end">
      <ion-button color="light" style="margin: 14px 5px; font-size: 18px;">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar mode="ios"></ion-searchbar>
</ion-header>

<ion-content>


  <ion-text>
    <h2 class="ez-title bold" style="margin-top: 30px;">Staff Logs</h2>
  </ion-text>

  <ion-card mode="ios" *ngFor="let inspection of inspections" (click)="viewLog(inspection.id)"
    style="margin-top: 10px; margin-bottom: 10px;">
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <img [src]="inspection.images[0].image_thumb_link">
      </ion-thumbnail>
      <ion-label>
        <h2>
          {{ inspection.dealer }}
          <ion-badge color="danger" *ngIf="inspection.status == 'rejected'" style="float: right;">Rejected</ion-badge>
          <ion-badge color="success" *ngIf="inspection.status == 'proceed'" style="float: right;">Proceed</ion-badge>
        </h2>
        <p *ngIf="inspection.marketing_officer">MO: {{ inspection.marketing_officer.name }}</p>
        <p *ngIf="inspection.marketing_officer">Created by: {{ inspection.created_by_name }}</p>
        <p>{{ inspection.date.toDate() | date: 'dd/MM/YYYY' }}</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="addLog()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>